.packingFormContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.packingForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around;
  margin-top: 10px;
  min-height: 40vh;
  width: 40%; */
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.packingButton {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #f0ebe5;
  background-color: #263a99;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.packingButton:hover {
  color: #263a99;
  background-color: #c4ddff;
  cursor: pointer;
}

.weatherHeader {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .packingFormContainer {
    flex-direction: column;
    align-items: center;
  }

  .weather {
    display: flex;
    flex-direction: column;
  }

  #updateTitle {
    text-wrap: nowrap;
  }
  .packingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  .packingButton {
    display: flex;
    justify-content: center;
    width: fit-content;
  }
}
