.form_section {
  border-top: 1px solid #263a99;
  border-bottom: 1px solid #263a99;
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/TravelPhoto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #263a99;
  border-radius: 5px;
  background-color: #f0ebe5;
  z-index: 2;
}

.form_element {
  margin-right: 10px;
  margin-left: 0px;
  padding: 10px;
}

.suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #eee;
}

select {
  margin-right: 7px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .form_container {
    justify-content: flex-start;
  }
}
