.viewList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checklist {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.weatherReport {
  display: flex;
  flex-direction: row;
}
.viewPacking{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}