.viewPackingTitle {
    border-top: 1px solid #263a99;
    border-bottom: 1px solid #263a99;
    padding: 10px;
    background-color: #c4ddff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 
.trip-name {
    font-family: "Inter", sans-serif;
    font-weight: 00;
} */